<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Lista de Heroes</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Proyecto de
            prueba para formación NestedComponents en Angular</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <div class="grid w-full gap-6 md:grid-cols-2">
                <article class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Heroe
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Universe
                                </th>

                                <th scope="col" class="px-6 py-3">
                                    Actions
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (hero of heroes; track hero.name) {
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{hero.name}}
                                </th>
                                <td class="px-6 py-4">
                                    {{universe[hero.universe]}}
                                </td>

                                <td class="px-6 py-4 text-right">
                                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                        (click)="selectHero(hero)">Details</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </article>
                <article
                    class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    @if (hero) {
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{hero.name}}
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{universe[hero.universe]}}</p>
                    <img src="{{hero.img}}" alt="{{hero.name}}" class="m-auto" style="height: 200px; width: auto;">
                    } @else {
                    <h1>Seleciona un heroe</h1>
                    }
                </article>
            </div>
        </div>
    </div>
</section>