<article class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    @if (hero) {
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{hero.name}}
        </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{universe[hero.universe]}}</p>
    <img src="{{hero.img}}" alt="{{hero.name}}" class="m-auto" style="height: 200px; width: auto;">
    } @else {
    <h1>Seleciona un heroe</h1>
    }
</article>